@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css");

.cent {
    justify-content: center;
}

.row_cent {
    display: flex;
    align-items: center;
    height: 100%;
}

.login_height{
    height: 85vh;
}

.pre_img{
    width: 90%;       
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
.pre_img_sm{
    width: 90%;       
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
