<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <script src="js/script.js"></script>
    <!-- navbar -->
    {% include 'navbar.html' %}

    <!-- body -->
    <!-- 首頁 所有訂單 -->
    {% if url=='1' or upd_food_data %}
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <h3>歡迎來到...網站 準備好享受美食了嘛!</h3>
                </div>
                <div class="col">
                    <h4>總價錢: <span id="total">0</span>元</h4>
                </div>
            </div>
        </div>
        <div class="card-body">
            {% if upd_food_data is not none %}

            <form action="/upd_del_done_food" method="post">
                <div class="container">
                    <div class="row">
                        <div class="col-8">
                            <div class="card p-3">
                                <div class="row g-3">
                                    {% for s in food_types %}
                                    <div class="col-3">
                                        <div class="card p-2 h-100">
                                            <div class="text-center">
                                                <img src="{{ s.img }}" class="pre_img_sm" alt="">
                                            </div>
                                            <h4>餐點:{{ s.name }}</h4>
                                            <p>敘述:{{ s.content }}</p>
                                            <div class="mt-auto">
                                                <h5>單價: {{ s.price }}元</h5>
                                                <label for="count_{{ s.id }}">數量</label>
                                                <input type="number" min="0" class="form-control count"
                                                    data-price="{{ s.price }}" name="count[{{ s.id }}]"
                                                    value="{% if upd_food_data and s.id in upd_food_data['food_type_id'] -%}{{ upd_food_data['food_counts'][upd_food_data['food_type_id'].index(s.id)] -}}{% else %}0{% endif %}"
                                                    required>



                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card p-3">
                                <h3>訂單ID：{{upd_food_data['id']}}</h3>
                                <h4>客戶名稱：{{upd_food_data['user_name']}}</h4>
                                <h4>email：{{upd_food_data['user_email']}}</h4>
                                <h4>備註：{{ "無" if upd_food_data['content'] == "" else upd_food_data['content'] }}</h4>
                                <h4>訂單日期：{{upd_food_data['date']}}</h4>
                                {% if(session['user']['level']) ==1 %}

                                {% if(upd_food_data['done']) ==1 %}
                                <button type="submit" class="btn btn-outline-success form-control" name="Nodone"
                                    value="{{upd_food_data['id']}}">取消完成</button>

                                {% else %}
                                <button type="submit" class="btn btn-outline-success form-control" name="done"
                                    value="{{upd_food_data['id']}}">完成訂單</button>
                                {% endif %}

                                {% endif %}
                                <div class="row text-center mt-3">
                                    <div class="col">
                                        <button type="submit" class="btn btn-outline-primary form-control" name="upd"
                                            value="{{upd_food_data['id']}}">修改餐點</button>

                                    </div>

                                    <div class="col">
                                        <button type="submit" class="btn btn-outline-danger form-control" name="del"
                                            value="{{upd_food_data['id']}}">刪除訂單</button>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </form>
            {% else %}
            <form action="/tmp_food" method="post">
                <div class="container">
                    <div class="row g-3">
                        {% for s in food_types %}
                        <div class="col-3">
                            <div class="card p-2 h-100">
                                <div class="text-center">
                                    <img src="{{ s.img }}" class="pre_img" alt="">
                                </div>
                                <h4>餐點:{{ s.name }}</h4>
                                <p>敘述:{{ s.content }}</p>
                                <div class="mt-auto">
                                    <h5>單價: {{ s.price }}</h5>
                                    <label for="count_{{ s.id }}">數量</label>
                                    <input type="number" min="0" class="form-control count" data-price="{{ s.price }}"
                                        name="count[{{ s.id }}]"
                                        value="{% if session.get('tmp_order') and s.id in session['tmp_order']['food_type_ids'] %}{{ session['tmp_order']['counts'][session['tmp_order']['food_type_ids'].index(s.id)] }}{% else %}0{% endif %}">

                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="mt-3 text-center">
                        <button type="submit" class="btn btn-outline-primary">加入餐點</button>
                    </div>
                </div>
            </form>
            {% endif %}


        </div>
    </div>

    {% endif %}
    <!-- 會員管理 -->
    {% if url=='2' %}
    <div class="card">
        <div class="card-header">
            <h2>會員管理</h2>
        </div>
        <div class="card-body">
            <table border="1" cellpadding="8" class="table">
                <thead>
                    <tr>
                        <th>帳號</th>
                        <th>密碼</th>
                        <th>名稱</th>
                        <th>email</th>
                        <th>權限</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in users %}
                    <tr>
                        <form action="/UpdAndDelUsers" method="post">
                            <td><input type="text" class="form-control" value="{{ s.account }}" name="account"></td>
                            <td><input type="number" min="1" class="form-control" value="{{ s.password }}"
                                    name="password"></td>
                            <td><input type="name" class="form-control" value="{{ s.name }}" name="name"></td>
                            <td><input type="email" class="form-control" value="{{ s.email }}" name="email"></td>

                            <td>
                                {% if 'user' in session and session['user']['level']==1 %}
                                <select name="level" class="form-select">
                                    <option value="0" {% if 0==s.level %} selected{% endif %}>使用者</option>
                                    <option value="1" {% if 1==s.level %} selected{% endif %}>管理員</option>
                                </select>
                                {% else %}
                                <p>使用者
                                <p>
                                    {% endif %}
                            </td>
                            <td>
                                <button class="btn btn-outline-warning" name="upd" value="{{s.id}}">修改</button>
                                <button class="btn btn-outline-danger" name="del" value="{{s.id}}"
                                    onclick="return confirm('確定刪除?')">刪除</button>
                            </td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>
        {% endif %}
        <!-- 食物類型管理 -->
        {% if 'user' in session and session['user']['level']==1 and url=='3' %}

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-5">


                        <h2>新增菜單類型</h2>
                        <form action="/add_foodtype" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="row">
                                    <div class="col">
                                        <h5>預覽圖片</h5>
                                        <img src="" class="pre_img" alt="">
                                    </div>
                                    <div class="col">

                                        <label for="img" class="btn form-control btn-outline-secondary">上傳圖片</label>
                                        <input type="file" name="img" id="img" hidden>
                                    </div>
                                </div>

                                <label for="">菜單類型名稱</label>
                                <input type="text" value="" class="form-control" name="name" required>
                                <label for="">價格</label>
                                <input type="number" min="1" value="" class="form-control" name="price" required>
                                <label for="">敘述</label>
                                <textarea name="content" class="form-control" id="" required></textarea>



                            </div>
                            <div class="mt-3 text-center">
                                <button type="submit" class="btn btn-outline-primary col-3">新增</button>
                            </div>
                        </form>

                    </div>
                    <div class="col">
                        <h2>已有菜單類型</h2>
                        <table border="1" cellpadding="8" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>圖片</th>
                                    <th>菜單類型名稱</th>
                                    <th>價錢</th>
                                    <th>敘述</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for s in food_types %}
                                <form action="/UpdAndDelFoodType" method="post" enctype="multipart/form-data">
                                    <tr>
                                        <td><img src="{{s.img}}" class="pre_img_sm" alt="" id="pre_img_sm_{{s.id}}">
                                        </td>
                                        <td><input type="text" class="form-control" value="{{ s.name }}" name="name">
                                        </td>
                                        <td><input type="number" min="1" class="form-control" value="{{ s.price }}"
                                                name="price"></td>
                                        <td> <textarea class="form-control" name="content"
                                                id="">{{ s.content }}</textarea>
                                        </td>
                                        <td class="col-3">
                                            <label for="img_sm_{{s.id}}"
                                                class="btn form-control btn-outline-secondary">上傳圖片</label>
                                            <input type="file" name="img" id="img_sm_{{s.id}}" class="img_btn" hidden>
                                            <button class="btn btn-outline-warning" name="upd"
                                                value="{{s.id}}">修改</button>
                                            <button class="btn btn-outline-danger" name="del" value="{{s.id}}"
                                                onclick="return confirm('確定刪除?')">刪除</button>
                                        </td>
                                    </tr>
                                </form>
                                {% endfor %}
                            </tbody>
                        </table>


                    </div>
                </div>


            </div>

        </div>
        {% endif %}
        {% if url=='4' %}
        <div class="cent row_cent mt-5 ">
            <div class="card col-5">
                <div class="card-header">
                    <h3>確認訂單</h3>
                </div>
                <div class="card-body">
                    <form action="/add_food" method="post">
                        <h5>name：{{session['user']['name']}}</h5>
                        <h5>email：{{session['user']['email']}}</h5>
                        <h5>食物清單</h5>
                        {% for i in range(session['tmp_order']['food_type_ids']|length) %}
                        <span>
                            {{ session['tmp_order']['food_type_names'][i] }}x{{ session['tmp_order']['counts'][i] }} =
                            {{session['tmp_order']['counts'][i]*session['tmp_order']['prices'][i]}}
                        </span>
                        <br>
                        {% endfor %}
                        <h5>總計{{session['tmp_order']['total']}}元</h5>
                        <textarea id="" class="form-control" name="content" placeholder="備註 可不填"></textarea>


                        <div class="row text-center mt-3">
                            <div class="col">
                                <button class="btn btn-outline-primary" name="submit">確定送出</button>

                            </div>
                            <div class="col">
                                <a href="/?edit=1" class="btn btn-outline-secondary">回上一步</a>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- 訂單管理 -->
        {% if url=='5' %}
        <table border="1" cellpadding="8" class="table">
            <thead>
                <tr>
                    <th>訂單id</th>
                    <th>總價格</th>
                    <th class="col-3">備註</th>
                    <th>使用者名稱</th>
                    <th>email</th>
                    <th>狀態</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for s in food %}

                <tr>
                    <form action="/UpdAndDelFoods" method="post">
                        <td>
                            <h4>{{s.id}}</h4>
                        </td>
                        <td>
                            <h4>{{s.total}}</h4>
                        </td>
                        <td>
                            <h4>
                                {% if s.content == "" %}
                                無
                                {% else %}
                                {{ s.content }}
                                {% endif %}
                            </h4>
                        </td>
                        <td>
                            <h4>{{s.user_name}}</h4>
                        </td>
                        <td>
                            <h4>{{s.user_email}}</h4>
                        </td>
                        <td>{{ '已完成' if s.done == 1 else '準備中' }}</td>

                        <td>
                            <button class="btn btn-outline-warning" name="upd" value="{{s.id}}">詳細資料</button>
                            <button class="btn btn-outline-danger" name="del" value="{{s.id}}"
                                onclick="return confirm('確定刪除?')">刪除</button>
                        </td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% endif %}
        {% if 'user' in session and session['user']['level']==1 and url=='6' %}
        {% endif %}


</body>


</html>